.custom-button {
    position: relative;
    overflow: hidden;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
    margin: 20px;
    transition: transform 0.3s, filter 0.3s;
  }

  .custom-button img {
    position: relative;
    width: 100%; /* Stretch the image to cover the button */
    height: 100%; /* Stretch the image to cover the button */
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
    opacity: 1; /* Show the image */
    transition: transform 0.3s, filter 0.3s;
  }

  .custom-button .description {
    position: absolute;
    text-align: left;
    display: inline-block;
    top: 100%;
    width: 80%;
    height: 100%;
    opacity: 0;
    font-size: 24px;
    padding: 20px;
    transition: transform 0.4s, opacity 0.3s;
    color: white;
    z-index: 1; /* Overlay stays on top of the image */
  }

  .custom-button:hover img {
    transform: scale(1.05);
    filter: brightness(25%);
  }

  .custom-button:hover .description {
    opacity: 1;
    transform: translateY(-50%);
  }